Kodları doğrudan yapıştırabilirsiniz.
-------------------
-------------------
pip install streamlit langchain-chroma langchain-huggingface langchain-ollama PyMuPDF easyocr pandas pdfplumber requests langchain-text-splitters sentence-transformers
-------------------
pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu121
-------------------
pip install transformers==4.44.2 einops accelerate

